<div id="flight" class="h-screen w-screen"></div>

<%= react_component(
  "SpairlinesComponents.Flight",
  %{ basePrice: @flight.price, location: @flight.location, description: @flight.description, spreedlyEnvironmentKey: @conn.assigns.spreedly_config.environment_key },
  %{ target_id: "flight" }
) %>

<script src="<%= Spairlines.Spreedly.base_url() %>/iframe/express-2.min.js"></script>
